/* Header */
header {
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

/* Logo styles */
.logo-tray {
    height: 190px;
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .logo-tray {
        height: 150px;
    }
}

.logo {
    width: auto;
    height: 100%;
    filter: invert(1) hue-rotate(95deg);
}


/* Text tray styles */
.text-tray {
    text-align: center;
}

.text-tray > h1 {
    width: 100%;
    line-height: 1;
    filter: drop-shadow(3px 5px 2px var(--secondary));
}

.text-tray > h3 {
    width: 100%;
    line-height: 0.8;
    color: var(--accent);
    filter: drop-shadow(3px 5px 2px var(--darkaccent));
}

/* Icon tray styles */
.icon-tray {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* Icon styles */
.icon {
    width: 60px;
    height: 60px;       
    margin: 1px 5px 1px 5px;
    transition: filter 0.25s;
}

.icon:hover {
    cursor: pointer;
    filter: drop-shadow(3px 5px 2px var(--darkaccent));
    position: relative; 
    top: -3px;
}

.icon:after {
    filter: none;
}

@media (max-width: 768px) {
    .icon {
        width: 45px;
        height: 45px;
    }
}


/* Tooltip styles */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    /* visibility: hidden; */
    display: none;
    width: 120px;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    display: inline-block;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--text) transparent transparent transparent;
}


/* Tooltip animation */
.tooltip .icon {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.tooltip:nth-child(1) > .icon, .tooltip:nth-child(1) {
    animation-delay: 0.4s;
}

.tooltip:nth-child(2) > .icon, .tooltip:nth-child(2)  {
    animation-delay: 0.8s;
}

.tooltip:nth-child(3) > .icon, .tooltip:nth-child(3)  {
    animation-delay: 1.2s;
}

.tooltip:nth-child(4) > .icon, .tooltip:nth-child(4) {
    animation-delay: 1.6s;
}

.tooltip:nth-child(5) > .icon, .tooltip:nth-child(4) {
    animation-delay: 2s;
}

.tooltip:nth-child(6) > .icon, .tooltip:nth-child(4) {
    animation-delay: 2.4s;
}


/* Scroll indicator */
#scrollIndicator {
    display: none;
    position: absolute;
    color: var(--text);
    z-index: 99;

    animation: MoveUpDown 1.5s linear infinite, fadeIn 1s;
}

#scrollIndicator > img {
    width: 30px;
    height: auto;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 10px;
    }
    50% {
        bottom: 20px;
    }
}